.posts{
    flex: 9;
    margin: 2rem 1rem 1rem 4rem;
    display: flex;
    flex-wrap: wrap;
    max-height: 70rem;
}

@media (max-width: 1455px) {
    .posts{
     display: block;
     font-size: 75%;
    }

    .posts{
        overflow-y: scroll;
    }
 }