.setting-component{
    flex: 9;
    padding: 2rem;
}

.setting-component-heading{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting-update{
    font-size: 2rem;
    color: tomato;
    font-weight: 500;
}

.setting-delete{
    font-size: 1.5rem;
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

.setting-component-info{
    margin-top: 2rem;
}

.setting-details label{
    display: block;
}

.setting-details input{
    display: block;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid rgb(154, 154, 154);
    width: 100%;
    color: #444;
    outline: none;
}

.setting-user{
    color: tomato;
    font-size: 1.5rem;
}

.setting-user:hover{
    color: rgb(254, 63, 29);
}

.setting-img-label{
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: #444;
    font-weight: 500;
}

.setting-name-label{
    margin-top: 2rem;
}

.setting-name-label, .setting-email-label, .setting-pass-label{
    font-size: 2rem;
    color: #444;
    margin-bottom: 2rem;
}

.setting-profile{
    width: 100px;
    height: 6.2rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.setting-details button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgb(20, 80, 91);
    border: 0.1rem solid white;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    transition-duration: 500ms;
    margin-top: 1rem;
}

.setting-details button:hover{
    margin-top: 2rem;
    cursor: pointer;
    background-color: white;
    border: 0.1rem solid rgb(20, 80, 91);
    color: rgb(20, 80, 91);
    transition-duration: 500ms;
}