.post{
    width: 30rem;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
}

.post img{
    width: 100%;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    height: 18rem;
    object-fit: cover;
}

.post-category{
    color: rgb(105, 105, 105);
    font-size: 1rem;
    font-family: 'Lora', serif;
    margin-left: 1rem;
}

.post-date{
    text-align: center;
    font-size: 1rem;
    font-family: 'Lora', serif;
    margin: 1rem;
    color: rgb(105, 105, 105);
}

.post-title{
    margin-left: 1rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.post-desc{
    padding: 1rem 1rem;
    line-height: 1.5;
    height: 8rem;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #444;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 1455px) {
   .post{
    width: 100%;
   }
}