.sidebar{
    flex: 3;
    margin: 4rem 1rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(158, 155, 155);
}

/* /////////////////// about section /////////////// */

.about-section{
    padding-left: 4rem;
    width: 90%;
    margin-bottom: 3rem;
}

.about-heading{
    border-top: 2px solid rgb(158, 155, 155);
    border-bottom: 2px solid rgb(158, 155, 155);
    margin-bottom: 2rem;
    padding: 5px 0;
    font-weight: 600;
}

.about-img{
    width: 15rem;
    height: 20rem;
    object-fit: fill;
    border-radius: 1.5rem;
}

.about-text{
    margin-top: 1.5rem;
    line-height: 1.5;
}

/* ///////////////// category section //////////////// */

.category-section{
    padding-left: 4rem;
    width: 90%;
    margin-bottom: 3rem;
}

.category-heading{
    border-top: 0.1rem solid rgb(158, 155, 155);
    border-bottom: 0.1rem solid rgb(158, 155, 155);
    margin-bottom: 1.5rem;
    padding: 0.2rem 0;
    font-weight: 600;
}

.category-list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category-list-item{
    margin: 1rem;
    font-weight: 400;
}

.category-list-item:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* ///////////// Follow section /////////////// */

.follow-section{
    padding-left: 4rem;
    width: 90%;
    margin-bottom: 3rem;
}

.follow-heading{
    border-top: 0.1rem solid rgb(158, 155, 155);
    border-bottom: 0.1rem solid rgb(158, 155, 155);
    margin-bottom: 1.5rem;
    padding: 0.2rem 0;
    font-weight: 600;
}

.follow-icon{
    margin: 1rem;
    font-size: 1.75rem;
    cursor: pointer;
    color: #444;
}

.follow-icon:hover{
    color: rgb(32, 32, 32);
}