.navbar{
    display: flex;
    color: white;
    background-color: #18283d84;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 3rem;
}

.navItems{
    display: flex;
    list-style: none;
    padding-left:3rem;
}

.nav-item{
    margin-left: 2rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.25rem;
}


.nav-item:hover{
    color: rgb(255, 248, 116);
}

.nav-img{
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right p{
    font-weight: 600;
    cursor: pointer;
    font-size: 1.5rem;
}

.right p:hover{
    color: rgb(255, 248, 116);
}

@media (max-width: 600px) {
    .navbar{
        display: block;
    }

    .navItems{
        padding-left: 1rem;
    }

    .right{
        margin: 1rem 10rem;
    }
}